.first-page{
  padding-top: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    margin: auto;
    padding-top: 32px;
  }
  
  button {
    margin-top: 16px;
    position: relative;
    left: 1.5rem;
  }